
<div>
    <form method="POST" asp-controller="Login" asp-action="EfetuarLogin">
        <div>
            <label for="username">Username</label>
            <input id="username" name="username" title="username" type="text" />
            <label for="password">Password</label>
            <input id="password" name="password" title="password"  type="password"/>
        </div>
        <div>
            <input type="submit" value="Login"/>
        </div>
    </form>
</div>
