@{
    ViewBag.Title = "Employee";
    Layout = "_Layout";
}

<h2>Employee</h2>

<form method="post" asp-controller="Home" asp-action="Logout">
    <button class="btn btn-info">Logout</button>
</form>
