@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<h2>Login</h2>

<form method="post">
    <input class="form-control" type="text" name="txtUserName" placeholder="UserName"/>
    <input class="form-control" type="password" name="txtPassword" placeholder="Password"/>
    <br />
    <button class="btn btn-success">Sign In</button>
</form>
